<div class="  toggle-password">
  <label class="form-label">
    {{ label }}
  </label>
  <input
    [type]="show ? 'text' : 'password'"
    [class.is-valid]="valid"
    [class.is-invalid]="!valid && dirty"
    class="form-control"
    placeholder="***********"
    (keyup)="setValue($event)"
  />
  <i *ngIf="show" (click)="showPassword()" class="fa fa-eye"  [ngStyle]="{'right': valid || (!valid && dirty)? '30px' : '15px'}"></i>
  <i *ngIf="!show" (click)="showPassword()" class="fa fa-eye-slash" [ngStyle]="{'right': valid || (!valid && dirty)? '30px' : '15px'}"></i>

</div>
