
@import "src/scss/abstracts/variables";

.toggle-password {
    position: relative;
    input {
        height: 44px;
        font-size: 16px;
        &::placeholder {
          color: $primary-gray;
        }
      }
    i {
      position: absolute;
      right: 15px;
      top: 55%;
      font-size: 20px;
      cursor: pointer;
      color: $primary-gray;
    }
  }
  