@import "src/scss/abstracts/variables";
@import "src/scss/abstracts/variables";
.alertWrapper {
  .alert-history {
    max-height: 100vh;
    overflow-y: auto;
    background-color: #ffffff;
    overflow-x: hidden;
    background-color: $white-color;
    border-bottom: 1px solid rgb(217, 221, 228);
    h5 {
      font-size: 20px;
      margin-inline: 15px;
    }
  }
}
