<section class="about-us">
  <div class="container ">
    <!-- Goals Row-->
    <div class="row ">
      <div class="col-xl-6">
        <div class="info">
          <div class="choose-title">
            <span class="small-title"> Why Choose us? </span>
            <h2 class="main-title">Welcome To DPObserver</h2>
          </div>

          <p class="description">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected
            humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you
            need to be sure there isn't anything embarrassing hidden in the
            middle of text. All the Lorem Ipsum generators on the Internet tend
            to repeat predefined chunks as necessary
          </p>

          <p class="description">
            <!-- {{ data.footerDescription }} -->
          </p>
        </div>
      </div>
      <div class="col-xl-6">
        <div >
          <img class="img-fluid"
            src="https://miro.medium.com/max/1200/1*p3DvHm-2ANdM5fUkI7ce7Q.png"
            alt="this is a image"
          />
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-xl-12">
        <div class="info">
          <div class="choose-title">
            <span class="small-title"> snapshot of tabels </span>
            <h2 class="main-title">Data Base Digram</h2>
          </div>
        </div>
      </div>
      <div class="col-xl-12 text-center">
        <div >
          <img class="img-fluid"
            src="assets/images/drawSQL-dpobserver.png"
            alt="this is a image"
          />
        </div>
      </div>
    </div>

    <div class="row ">
      <div class="col-xl-12">
        <div class="info">
          <div class="choose-title">
            <span class="small-title"> snapshot of Sequence digram </span>
            <h2 class="main-title">Sequence Digram</h2>
          </div>
        </div>
      </div>
      <div class="col-xl-12 text-center">
        <div >
          <img class="img-fluid"
            src="assets/images/sequence-digram.png"
            alt="this is a image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
