<!-- Footer -->
<footer class="text-center text-lg-start">
  <!-- Section: Links  -->
  <section class="mt-5">
    <div class="container text-center text-md-start ">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
          <!-- Content -->
          <h3 class="text-uppercase    mb-4">
            <img src="assets/images/dp-logo.png" alt="" width="200" class="logo-img"/>
          </h3>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit
          </p>
          <!-- Section: Social media -->
          <section
            class="d-flex justify-content-center justify-content-lg-between pt-4"
          >
            <!-- Right -->
            <div>
              <a href="" class="me-4">
                <i class="fa fa-linkedin"></i>
              </a>
              <a href="" class="me-4">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="" class="me-4">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="" class="me-4">
                <i class="fa fa-facebook-f"></i>
              </a>
            </div>
            <!-- Right -->
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto">
          <!-- Links -->
          <h3 class="text-uppercase fw-bold   mb-4">Get to know us</h3>
          <p>
            <a href="#!" class="">About Us</a>
          </p>
          <p>
            <a href="#!" class="">FAQs</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto ">
          <!-- Links -->
          <h3 class="text-uppercase  fw-bold   mb-4">Quick Contact</h3>
          <p class="text-white">
            <a href="#!"> <i class="text-whitefa fa-building-o"></i>Egypt</a>
          </p>
         
          <p>
            <a href="#!"
              ><i class="fa fa-envelope-o"></i>dpobserver@info.com
            </a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="sub-footer text-center p-4">
    <p class="text-white" href="#">© 2022 DPObserver  All Rights Reserved. </p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
