$primary: #edb51c;
$primaryDark: #000000;
$primaryLight: #0049d9;
$primaryLigh2: #00b6f8;
$primaryLigh3: #003cb3;

$primaryGrey: #d0d5dd;
$primaryGrey2: #bebdbd;
$primaryGrey3: #667085;
$primaryGrey4: #f2f4f7;
$primaryGrey5: #344054;
$primaryGrey6: #98a2b3;
$Warning400:#FDB022;

$independence_color: #475467;

$red1: #f04438;

$sim_white_color: #f9fafb;
$primaryGreyOpacity: rgba(255, 255, 255, 0.6);
$alertError: #fef0f0;
$darkBlack: #23292f;
$darkwhite: #d7cfcf;
$secondaryOceanGreen: #49a487;
$secondarySeaBlue: #66c0cb;
$primaryGreenLight: #1da78b;
$darkGrey: #55565e;
$bGColor: #f7f9fd;
$secondaryLightOliveGreen: #a1c755;
$secondarySepia: #955023;
$buttonYellowDark: #937644;
$buttonYellowLight: #f4b747;
$cardShdow: rgba(114, 159, 197, 0.1);
$gredYellowDark: #d5931c;
$gredYellowLight: #ffdfa6;
$bGLightGreen: #f2f9f6;
$lightGrey: #dcdde5;
$lightGreyInfo: #f0f0f0;
$alertInfo: #f2f5ff;
$alertWarning: #fdfaf2;
$alertSuccess: #effcf6;
$white: #ffffff;
$buttonShadow: rgba(24, 86, 74, 0.2);
$line-seperator: rgba(191, 193, 200, 0.14);
$hoverShadow: rgba(73, 164, 135, 0.2);
$secondaryOrange: #e3743a;

$main_color: #edb51c;
$dark_color: #101828;
$mirage_color: #1d2939;
$simi_dark_color: #2e2e2e33;
$erie_black_color: #1f1d1d;
$dark_charcoal_color: #333333;
$white_color: #ffffff;
$lotion_color: #fdfdfd;
$navajo_white_color: #ffdfb3;
$light_silver_color: #d0d5dd;
$gray_color: #999;
$gull_gray_color: #98a2b3;
$athens_gray_color: #e4e7ec;
$dainsboro_color: #e2dbdb29;
$simi_gray_color: #f2f4f7;
$orange_color: #ff9f1a;
$pale_sky_color: #667085;
$independence_color: #475467;
$charcoal_color: #344054;
$simi_white_color: #f9fafb;
$pale_cornflower_color: #f3ae00;
$french_sky_blue_color: #e18803;
$royal_azure_color: #003cb3;
$blue_crayola_color: #1a66ff;
$danger_color: #f55;
